@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  margin: 0px;
  padding: 0px;
  /* font-size: large; */
  /* font-weight: bold; */
}

nav {
  background-color: #e85d04;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0% 5%;
}

nav .array-inputs {
  display: flex;
}
nav .array-inputs div {
  margin: 0 50px 0;
}
nav .array-inputs #a_size {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #370617;
  outline: none;
  opacity: 0.7;
}

nav .array-inputs #a_speed {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #370617;
  outline: none;
  opacity: 0.7;
}

nav .array-inputs #a_generate {
  background-color: transparent;
  border: white;
  border-style: solid;
  outline: none;
  color: white;
  font-family: "Comfortaa", cursive;
  background-color: #d00000;
  transition: all 0.2s ease-in;
  border-radius: 10px;
  padding: 4%;
}

nav .array-inputs #a_generate:hover {
  color: #d00000;
  cursor: pointer;
  background-color: white;
}

#a_generate {
  font-size: 20px;
}

nav .header_right {
  display: -webkit-box;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-heading {
  text-align: center;
  display: inline-block;
  font-size: xxx-large;
  font-family: "Josefin Sans", sans-serif;
  padding: 20px 0px;
  width: 100%;
  background-color: #e85d04;
  color: white;
}

.a_size_text {
  font-family: "Comfortaa", cursive;
}

.a_speed_text {
  font-family: "Comfortaa", cursive;
}

nav .header_right .algos {
  display: flex;
  place-content: center;
  padding: 2% 0% 1%;
}

.algos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: middle;
}

.algos button {
  font-family: "Acme", "sans-serif";
}
nav .header_right .algos button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 2% 2%;
  font-size: x-large;
  transition: all 0.2s ease-in-out;
}

nav .header_right .algos button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

nav .header_right .algos .butt_locked {
  background-color: transparent;
  cursor: pointer;
}

nav .header_right .algos .butt_locked:hover {
  background-color: transparent;
  cursor: pointer;
}

nav .header_right .algos .butt_selected {
  background-color: white;
  color: green;
}

nav .header_right .algos .butt_selected:hover {
  background-color: white;
  cursor: pointer;
}

nav .header_right .algos .butt_unselected:hover {
  background-color: white;
  cursor: pointer;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
  grid-template-columns: 20% 60% 20%;
}

section #array_container {
  display: -webkit-box;
  display: -ms-flexbox;
  width: 100%;
  height: 60vh;
}

#array_container {
  background-color: #ffff;
  font-size: 20px;
}

#Info_Cont1 {
  background-color: #ffff;
  padding: 5%;
  font-family: "Comfortaa", cursive;
  height: 16px;
}

.procedure {
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#Info_Cont2 {
  background-color: #ffff;
  padding: 5%;
  font-family: "Comfortaa", cursive;
  height: 16px;
}

.a_container {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.bottom-container {
  background-color: green;
  bottom: 0;
  color: white;
  font-family: "Square Peg", cursive;
  font-size: 30px;
  font-weight: lighter;
  padding: 1%;
  position: fixed;
  text-align: center;
  width: 100%;
}

.hide {
  display: none;
}
